.profile-container {
  background-color: #6200ee;
}
.profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10%;
}

.profile-section {
  flex: 1 auto;
}

.round-button {
  flex: 1 auto;
}
