.search-bar {
  background-color: white;
}

.header-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.header-content > * {
  flex: 1 100%;
}

.search-container {
  flex: 1;
}

.period-container {
  flex: 100% 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.period-title {
  margin: auto;
}

.search-container {
  order: 1;
}
.period-container {
  order: 2;
}

@media all and (min-width: 0px) {
  .profile-container {
    flex: 1;
  }
  .food-list-container {
    flex: 100% 0px;
  }
  .profile-container {
    order: 1;
  }
  .period-container {
    display: none;
  }
  .food-list-container {
    order: 3;
  }
}
