.search-bar {
}

.search-icon {
  color: black;
}
.search-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-wrapper {
  margin: auto;
}
.nav-wrapper > * {
  flex: 1 300px;
}
.navigator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.arrow-back-icon {
  flex: 1;
}

.arrow-forward-icon {
  flex: 1;
}
