.search-bar {
  background-color: white;
}

.search-icon {
  color: black;
}
.input-field {
  background-color: "red";
}

.navigator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.header-content {
  display: flex;
}

.arrow-forward-icon {
  flex: 1;
}
