.search-bar {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row;
}

.search-icon {
  color: black;
}
.navigator-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
