.search-bar .nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 500px;
}

.search-icon {
  color: black;
}

.navigator-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
