.search-bar {
  background-color: white;
  height: 48px;
}

.search-container {
  flex: 1;
  order: 1;
  margin-top: 10px;
}

@media all and (min-width: 600px) {
  .search-bar {
    width: 60% !important;
  }
}
