.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.search-icon {
  color: black;
}
.search-content {
  max-height: 500px;
}
.navigator-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
