.search-bar {
  background-color: white;
}

.header-content {
  display: flex;
  flex-flow: row wrap;
}

.header-content > * {
  flex: 1 50%;
}

.search-container {
  flex: 1;
}

.period-container {
  flex: 50% 0px;
}
