.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  color: black;
}
.search-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.nav .input-field {
  margin:auto
  display: flex;
  height: 30px;
}

.arrow-forward-icon {
  flex: 1;
}
