@import url("https://fonts.googleapis.com/css?family=Roboto");

/** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

ul {
  list-style: none;
}

/*.container {
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}*/

.App {
  text-align: center;
  max-width: 1024px;
  display: column;
  justify-content: center;
  align-items: center;
}

.page-container {
  display: grid;
  grid-template-columns: 320px 1fr;
  justify-content: center;
  align-items: center;
}

.profile-container {
  background-color: lightgray;
}
.food-list-container {
  background-color: white;
}
