@import url("https://fonts.googleapis.com/css?family=Roboto");

/** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
}

.App {
  display: flex;
  flex-flow: row wrap;
}

.wrapper > * {
  flex: 1 100%;
}

/* Medium screens */
@media all and (min-width: 320px) {
  /* We tell both sidebars to share a row */
  .profile-container {
    flex: 1;
  }
  .food-list-container {
    flex: 10 0px;
    background-color: #333;
  }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  .food-list-container {
    flex: 3 0px;
    background-color: #333;
  }
  .profile-container {
    order: 1;
    background-color: lightgray;
  }
  .food-list-container {
    order: 2;
  }
}

/*.page-container {
  display: grid;
  grid-template-columns: 320px 1fr;
}

.profile-container {
  background-color: lightgray;
  max-height: 572px;
}
.food-list-container {
  background-color: white;
}

ul {
  list-style: none;
}*/
