@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

ul {
  list-style: none;
}

container {
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.App {
  max-width: 1024px;
  margin: auto;
  max-height: 520px;
}

.page-container {
  display: grid;
  grid-template-columns: 320px 1fr;
}

.profile-container {
  background-color: lightgray;
  max-height: 572px;
}
.food-list-container {
  background-color: white;
}
