@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

ul {
  list-style: none;
}

/*.container {
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}*/

body {
  width: 100%;
}

.App {
  text-align: center;
}

.page-container {
  display: grid;
  grid-template-columns: 500px 1fr;
}
