@import url("https://fonts.googleapis.com/css?family=Roboto");

/** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
}

.App {
  display: flex;
  flex-flow: row wrap;
}

.wrapper > * {
  flex: 1 100%;
}

/* Medium screens */
@media all and (min-width: 0px) {
  .period-top-container {
    display: none;
  }
  .profile-container {
    flex: 1;
  }
  .period-body-container {
    flex: 100% 0px;
  }
  .food-list-container {
    flex: 100% 0px;
  }
  .profile-container {
    order: 1;
  }
  .period-body-container {
    order: 2;
  }
  .food-list-container {
    order: 3;
  }
}

/* Large screens */
@media all and (min-width: 600px) {
  .food-list-container {
    flex: 3 0px;
  }
  .profile-container {
    order: 1;
  }
  .food-list-container {
    order: 2;
  }
  .period-body-container {
    display: none;
  }
  .period-top-container {
    display: block;
  }
}

/*.page-container {
  display: grid;
  grid-template-columns: 320px 1fr;
}

.profile-container {
  background-color: lightgray;
  max-height: 572px;
}
.food-list-container {
  background-color: white;
}

ul {
  list-style: none;
}*/
