.period-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.period-top-container {
  margin: auto;
  margin-bottom: 4rem;
  color: white;
  align-items: center;
  justify-content: center;
}
.period-body-container {
  width: 100%;
}
.period-title {
  margin: auto;
  margin-bottom: "2rem";
}
.period-container {
  margin: auto;
  width: 60%;
  order: 2;
}
