.period-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.period-top-container {
  margin: auto;
  margin-bottom: 1rem;
  color: white;
  align-items: center;
  justify-content: center;
}
.period-body-container {
  width: 100%;
}
.period-title {
  margin: 0 auto 0 auto;
  margin-left: auto;
  font-size: 2rem;
  width: 100%;
}
.period-container {
  margin: auto;
  width: 100%;
  order: 2;
}

@media all and (min-width: 0px) {
  .arrow-icons {
    color: #6200ee !important ;
  }
}
