.header-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: #6200ee;
  width: 100%;
}

/* Medium screens */
@media all and (min-width: 0px) {
  /* We tell both sidebars to share a row */
  .profile-container {
    flex: 1;
  }
  .food-list-container {
    flex: 100% 0px;
  }
  .search-container {
    order: 1;
  }
  .profile-container {
    order: 2;
  }
  .profile-top-container {
    order: 3;
  }
  .food-list-container {
    order: 4;
  }
}
