.food-list-container {
  display: flex;
}

.food-icon {
  background-color: black;
}

.food-title {
  background-color: white;
}

.food-details {
  background-color: black;
}

.diet-item-container {
  display: flex;
  width: 100%;
}

.diet-title-section {
  margin-right: auto;
}

.diet-servings-size-text {
  color: #787878;
}

.diet-details-section {
  text-align: center;
}

.meal-type-section {
  color: #787878;
}
