.select-modal {
  top: 0px !important;
  width: 95% !important;
  margin-top: 1rem !important;
  height: 100% !important;
  background-color: transparent !important;
}

.select-collection-item {
  border-bottom: none !important;
  min-height: 0px !important;
}
.details-modal-trigger-link {
  display: flex !important;
  align-items: center !important;
  color: black !important;
  border-bottom: 1px solid #e0e0e0 !important;
}

.icon-circle {
  border-radius: 4px !important;
  background-color: white !important;
}
.list-header-common {
  color: gray !important;
}
.list-header-branded {
  margin-left: 1rem;
  color: gray !important;
  background-color: white !important;
}

.modal {
  max-height: 100%;
  overflow-y: unset !important;
}

.select-modal-content {
  padding: 0px !important;
  background-color: white !important;
  height: 100% !important;
}

.select-modal-collection {
  border: none !important;
}

.select-list-item-title {
  background-color: white !important;
}

@media all and (min-width: 0px) {
  .select-modal {
    margin-top: 0.6rem !important;
  }
}
@media all and (min-width: 600px) {
  .select-modal {
    width: 40% !important;
    margin-top: 0.2rem !important;
  }
}
