.select-modal {
  top: 0px !important;
}

.icon-circle {
  border-radius: 4px !important;
  background-color: white !important;
}

.list-header {
  margin-left: 1rem;
}

.modal {
  max-height: 100%;
  overflow-y: unset !important;
}

@media all and (min-width: 00px) {
  .select-modal {
    margin-top: 1rem !important;
  }
}
@media all and (min-width: 600px) {
  .select-modal {
    width: 60% !important;
    margin-top: 14px !important;
  }
}
