.select-modal {
  top: 0px !important;
}

.icon-circle {
  border-radius: 4px !important;
  background-color: white !important;
}

.list-header {
  margin-left: 1rem;
}

.select-modal .modal {
  overflow-y: none !important;
}
