.details-food-modal {
  top: 25% !important;
}

.icon-and-text-container {
  display: flex;
}

.icon-text-container > * {
  flex: 0px 100%;
}

.operations-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.operations-icon > * {
  flex: 0px 100%;
}

.down-arrow {
}
